# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# keys

Data/
db_anon.db
db_anon copy.db
db_anon_backup_before_intern_extern.db
__pycache__/
DashBoard/
Saved_Charts/
Saved_Charts_Intern_Extern/
